body{
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #2C2B3D;
  min-height: 100%;
}

#page{
  width: 1000px;
  margin: 65px auto 0;
}

/*NAV*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 63px 119px 101px 78px;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 64px;
  padding: 0;
  margin: 0;
}

nav ul li a:hover{
  color: #00BFA6;
}

a{
  text-decoration: none;
  color: #fff;
}
/*END NAV*/

/*MAIN*/
h1{
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}

.highlight{
  color: #00BFA6;
  margin-bottom: 59px;
}

p{
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
}

main{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto 157px;
}
/*END MAIN*/

/*FOOTER*/
footer{
  width: 570px;
  height: 55px;
  border-top: 1px solid #00BFA6;
  font-size: 14px;
  line-height: 28px;
  padding-top: 27px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

#padlock{
  position: fixed;
  left: 0;
  bottom: 28px;
}